[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
chromadb = "*"
sentence-transformers = "*"
pandas = "*"
streamlit = "*"
beautifulsoup4 = "*"
requests = "*"
langchain-community = "*"
langchain-huggingface = "*"
langchain-chroma = "*"
langchain-openai = "*"
google-generativeai = "*"
python-dotenv = "*"
duckduckgo-search = "*"
pysqlite3-binary = "*"
langchain-core = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.12"
